
.hooks-menu-button {
    color: var(--darkslategray);
    position: relative;
    z-index: 99;
    font-size: 40px;
    background: var(--honeydew);
    padding: 0 .4rem 0 .2rem;
    -webkit-box-shadow: 2px 2px 1px 1px rgb(29, 53, 87);
    -moz-box-shadow: 2px 2px 1px 1px rgb(29, 53, 87);
    box-shadow: 2px 2px 1px 1px rgb(29, 53, 87);
    cursor: pointer;
}

.hooks-menu-nav {
    -webkit-box-shadow: 1px 1px 1px 0px rgb(168, 218, 220);
    -moz-box-shadow: 1px 1px 1px 0px rgb(168, 218, 220);
    box-shadow: 1px 1px 1px 0px rgb(168, 218, 220);
    width: 29%;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--lightblue);
    border: 1px solid1ar(1lig1tblue);
    position: absolute;
    top: 0;
    z-index: 999;
    background: var(--honeydew);
    left: -45vw;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

.hooks-menu-nav.show {
    left: -2vw;
}

.closeButton{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.hooks-menu-close-button {
    color: var(--lightblue);
    margin-left: 6rem;
    font-size: 3rem;
    cursor: pointer;
}


.hooks-menu-items {
    padding: 0;
    margin: 0;
}

.hooks-menu-list-item {
    list-style: none;

}

.hooks-menu-link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--darkslategray);
    display: flex;
    padding: 10px 16px;
    border-bottom: 1px solid var(--lightblue);


}