.hooks-menu-container {
    height: 2rem;
    position: relative;

}


.hooks-menu-nav {
    width: 10vw;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #888;
    border: 1px solid #888;
    position: absolute;
    top: 0;
    z-index: 999;
    background: #FFF;
    left: -45vw;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}



/* .hooks-menu-nav {
    width: 10vw;
    box-shadow: 1px 1px #888;
    position: absolute;
    top: 30;
    z-index: 999;
    background: #FFF;
    left: -45vw;
    transition: left 0.2s ease-in;
} */

.hooks-menu-nav.show {
    left: 0;
}

// .disappear {
//     left: -45vw;
// }

.hooks-menu-button {
    position: relative;
    z-index: 99;
    font-size: 40px;
    cursor: pointer;
}

.hooks-menu-close-button {
    padding: 16px 9px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.hooks-menu-items {
    padding: 0;
    margin: 0;
    /* width: 30vw;
    box-shadow: 1px 1px #888;
    position: absolute;
    top: 0;
    z-index: 999;
    background: #FFF;
    left: -45vw; */
    

}

.hooks-menu-list-item {
    list-style: none;

}

.hooks-menu-link {
    text-decoration: none;
    color: green;
    display: flex;
    padding: 10px 16px;
    border-bottom: 1px solid red;


}